.sbp-sidebar {
	contain:   strict!important;
	border:    unset!important;
	position:  fixed!important;
	top:       0!important;
	margin:    0!important;
	padding:   0!important;
	height:    100vh!important;
	box-sizing: border-box!important;
	overflow:  hidden!important;
	z-index:   2147483644!important;
	cursor:    default!important;
	min-width: 0!important;
}
#sbp-rightBar {
	contain: strict!important;
	right:   0!important;
	left:    unset!important;
}
#sbp-leftBar {
	contain: strict!important;
	left:    0!important;
	right:   unset!important;
}

	.sbp-sidebar>div {
		contain:   strict!important;
		position:  absolute!important;
		height:    100%!important;
		background-color: var(--sbp-border-color)!important;
		cursor:    col-resize!important;
		z-index:   999;
	}
	.sbp-sidebar>div:hover {
		contain: strict!important;
		background-color: var(--sbp-border-color-active)!important;
	}
	.sbp-sidebar>iframe {
		contain: strict!important;
		border:  unset!important;
		padding: 0!important;
		margin:  0!important;
		width:   100%!important;
		height:  100%!important;
	}

	#sbp-rightBar>div {
		contain: strict!important;
		left: 0!important;
	}
	#sbp-leftBar>div {
		contain: strict!important;
		right: 0!important;
	}

#mask {
	contain: strict!important;
	width:   100vw!important;
	height:  100vh!important;
	z-index: 2147483645!important;
	display: none!important;
	position:fixed!important;
	left:    0!important;
	top:     0!important;
}
#mask.active {
	contain: strict!important;
	display: block!important;
}

#sbp-dialog {
	contain:  strict!important;
	width:    100%!important;
	height:   100vh!important;
	top:      0!important;
	left:     0!important;
	border:   none!important;
	position: fixed!important;
	z-index:  2147483646!important;
}
