:root {
	--font-color: #444;
	--font-color-active: #000;
	--font-color-inactive: #999;
	--border-color: #eee;
	--border-color-active: #ccc;
	--background-color: #fcfcfc;
	--background-color-active: #e3ecf1;
}
@font-face {
	font-family: "Roboto";
	src: url(./Roboto-Regular.woff2);
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Roboto";
	src: url(./Roboto-Italic.woff2);
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: "Roboto";
	src: url(./Roboto-Bold.woff2);
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "Roboto";
	src: url(./Roboto-BoldItalic.woff2);
	font-style: italic;
	font-weight: bold;
}
body {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	overflow: visible;
	margin: 0;
	font-family: “Roboto”;
}
#sbp-dialog {
	color: var(--font-color);
	display: block;
	font-family: "DejaVu Sans", Arial, sans-serif;
	overflow: hidden;
	z-index: 9999;
	background-color: var(--background-color);
	padding: 1.5rem 1rem;
	margin-left: auto;
	margin-right: auto;
	user-select: none;
	moz-user-select: none;
	word-wrap: break-word;
	border-style: solid;
	border-width: .1rem;
	border-color: var(--border-color);
	box-shadow: 0 0 .1rem .1rem var(--border-color-active);
}
	header {
		word-wrap: none;
		text-align: center;
		font-size: 2.4rem;
	}
	main {
		margin: 1rem 0 2rem 0;
		display: grid;
		grid-template-columns: min-content auto;
		grid-row-gap: 1rem;
		grid-column-gap: 0.8rem;
		align-items: center;
		font-size: 1.8rem;
	}
		main>p {
			grid-column-start: 1;
			grid-column-end: 3;
			margin: 0.5rem 0;
			display: inline-block;
		}
		main>label {
			padding: 0.3rem;
			font-size: 1.8rem;
		}
		main>label {
			text-align: right;
		}
		main>label.reverse {
			text-align: left;
		}
		main>input {
			padding: 0;
			margin: 0;
			font-size: 1.8rem;
			border: solid 0.05rem var(--border-color);
			padding: 0.1rem 0.3rem;
			background-color: var(--background-color);
		}
		main>textarea {
			font-size: 1rem;
			min-height: 4rem;
			min-width: 5rem;
			padding: 0.1rem 0.3rem;
			max-lines: 6;
			background-color: var(--background-color);
			color: var(--font-color-active);
		}
		main>textarea::placeholder {
			color: var(--font-color-inactive);
		}
		main>input[type="text"] {
			color: var(--font-color-active);
			min-width: 5rem;
		}
		main>input[type="text"]::placeholder {
			color: var(--font-color-inactive);
		}
		.options-section {
			padding: .3rem 0;
			border-style: solid;
			border-width: .05rem 0;
			border-color: transparent;
		}
		.options-section.active {
			border-color: var(--border-color-active);
		}
		label.icon {
			cursor: pointer;
			text-align: left;
			white-space: nowrap;
			padding: .73rem .5rem .73rem .5rem;
			background-repeat: no-repeat;
			background-size: 2rem 2rem;
			background-position: 0 .3rem;
			font-size: 1.5rem;
		}
			.option {
				cursor: pointer;
				display: inline-block;
				width: 2.2rem;
				height: 2.2rem;
				background-size: 1.8rem 1.8rem;
				background-repeat: no-repeat;
				background-position: .2rem .2rem;
				margin: 0 .5rem .3rem .5rem;
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-size: 100% 100%;
				-webkit-mask-position: center;
				-webkit-mask-mode: alpha;
				mask-repeat: no-repeat;
				mask-size: 100% 100%;
				mask-position: center;
				mask-mode: alpha;
			}
			.option:hover {
				background-size: 2rem 2rem;
				background-position: .1rem .1rem;
			}
			.selected.option {
				background-color: var(--background-color-active);
			}
			div.options-section>label {
				display: block;
				margin-bottom: .5rem;
			}
				select {
					font-size: 1.4rem;
					display: block;
					border-width: .1rem;
				}
					optgroup {
						font-size: 1.4rem;
					}
						option {
							padding: .2rem .3rem;
						}

	footer {
		font-size: 1.6rem;
		display: grid;
		grid-template-columns: 1fr auto;
	}
		footer>div:first-child {
			display: flex;
			flex-flow: row;
			align-items: middle;
		}
			footer>div>span {
				margin: 0.5rem 0 0.5rem 1rem;
				padding: 0.3rem 1rem;
				min-width: 5rem;
				border-style: solid;
				border-color: var(--border-color);
				border-width: 0.05rem;
				cursor: pointer;
			}
			footer>div>span:hover {
				color: var(--font-color-active);
				border-color: var(--border-color-active);
			}

	#completer {
		display: none;
		position: fixed;
		overflow: hidden;
		font-size: 1.8rem;
		border-width: 0.05rem;
		border-style: solid;
		border-color: var(--border-color);
		background-color: var(--background-color);
	}
		#completer>p {
			display: block;
			color: var(--font-color);
			width: 100%;
			margin: 0;
			padding: 0.1rem 0.5rem 0.1rem 1.6rem;
			border-style: solid;
			border-color: transparent;
			border-width: 0.1rem 0;
			background-repeat: no-repeat;
			background-size: 1.2rem 1.2rem;
			background-position: 0 0.2rem;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		#completer>p:hover {
			color: var(--font-color-active);
			background-color: var(--background-color-active);
			border-color: var(--border-color);
			cursor: default;
		}