.logout #pocket-folder-0,
.logout #user,
.logout .bottom-bar,
#login,
.type .domain-view,
.domain .type-view {
	display: none;
}
#user {
	display: flex;
}
.logout #login {
	display: block;
}
#user {
	align-items: center;
	cursor: default;
	font-size: 1.2rem;
	padding-left: 1.5rem;
	position: relative;
	margin-bottom: .8rem;
	user-select: none;
	moz-user-select: none;
}
#user::before {
	content: '';
	display: inline-block;
	position: absolute;
	top: .2rem;
	left: .2rem;
	mask-image: url(/icons/user.svg);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	-webkit-mask-position: center;
	-webkit-mask-mode: alpha;
	mask-repeat: no-repeat;
	mask-size: 100% 100%;
	mask-position: center;
	mask-mode: alpha;
	background-color: var(--font-color);
	width: 1rem;
	height: 1rem;
}
#pocket-logout {
	display: inline-block;
	margin-left: .4rem;
}

#pocket-edit,
#pocket-delete,
#pocket-fav,
#pocket-archive,
.type-archives #pocket-unarchive {
	display: inline-block;
}
.domain-articles {
	background-image: url(icons/article.svg);
}
.domain-pictures {
	background-image: url(icons/picture.svg);
}
.domain-videos {
	background-image: url(icons/video.svg);
}
.domain-other {
	background-image: url(icons/default.svg);
}
.domain-archives {
	background-image: url(icons/archive.svg);
}
.favorite {
	background-color: var(--background-color-active);
}
.favorite #pocket-fav,
.type-archives #pocket-archive {
	display: none;
}
.favorite #pocket-unfav {
	display: inline-block;
}
.type-archives {
	text-decoration: line-through;
}
.plain .type-archives,
.domain .type-archives {
	display: none;
}