:root {
	--font-color: #444;
	--font-color-active: #000;
	--font-color-inactive: #999;
	--border-color: #eee;
	--border-color-active: #ccc;
	--background-color : #fcfcfc;
	--background-color-active: #e3ecf1;
	background-color: var(--background-color);
}

body {
	background-size: cover;
	background-repeat: no-repeat;
	background-clip: border-box;
	margin: 0 0 3rem 0;
	padding: 0;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 100%;
	width: 100%;
	height: auto;
	overflow: hidden;
	height: 100vh;
}
a,
a:visited {
	color: unset;
}
.leftBar {
	padding-right: .1rem;
}
.rightBar {
	padding-left: .1rem;
}
.fixed body,
.hover body {
	height: auto;
	overflow-y: scroll;
}

.hidden {
	display: none!important;
}
.loading.item {
	background-image: none!important;
}
.loading::before {
	padding: 0!important;
	animation: spin 1.8s linear infinite;
	transform-origin: 50% 50%;
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -.5rem;
	width: 1rem;
	height: 1rem;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 1rem 1rem;
	background-image: url('icons/loader.svg')!important;

}
.folder.domain-view .loading.item {
	padding-left: 1.4rem!important;
}
.folder.domain-view .loading::before {
	left: .2rem;
	width: .8rem;
	height: .8rem;
	background-size: .8rem .8rem;
}
@keyframes spin {
	100% {
		transform:rotate(360deg);
	}
}

.updating {
	animation: blink 2s linear infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

#controls {
	position: sticky;
	top: 0;
	width: 100%;
	padding: .3rem 0;
	background-color: var(--background-color);
	z-index: 99;
	user-select: none;
	moz-user-select: none;
}
#controls>div {
	flex-flow: column;
	flex-wrap: wrap;
	width: auto;
	max-width: 100%;
}
.fixed #controls>div,
.hover #controls>div  {
	flex-flow: row;
}
#controls-sidebar {
	display: none;
}
#controls-block {
	margin-right: .5rem;
}
.fixed #controls-sidebar,
.hover #controls-sidebar,
#controls-block {
	display: inline-flex;
}
#controls-sidebar>span {
	display: none;
}
.button {
	position: relative;
	width: 1.4rem;
	height: 1.4rem;
	display: inline-block;
	cursor: pointer;
	font-size: .5rem;
	padding: 0;
	color: var(--font-color);

}
.button>span {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: var(--font-color);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 90% 90%;
	-webkit-mask-position: center;
	-webkit-mask-mode: alpha;
	-webkit-mask-clip: content-box;
	mask-repeat: no-repeat;
	mask-size: 90% 90%;
	mask-position: center;
	mask-mode: alpha;
	mask-clip: content-box;
}
#controls .button {
	margin-bottom: .4rem;
}
.item-button:hover>.button>span,
.button:hover>span {
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	background-color: var(--font-color-active)!important;
}
.button #rss-unreaded {
	position: absolute;
	display: inline-block;
	top: 0;
	right: 0;
	margin: 0;
	padding: .1rem;
	color: var(--font-color-active);
	background-color: var(--background-color);
	opacity: .8;
	font-size: .5rem;
	line-height: .5rem;
}
.button #rss-unreaded:empty {
	padding: 0;
}

.leftBar #controls .button {
	margin-left: .1rem;
}
.leftBar.hover #controls .button,
.leftBar.fixed #controls .button,
.leftBar .bottom-bar .button {
	margin-left: .4rem;
}
.rightBar #controls .button,
.rightBar .bottom-bar .button {
	margin-right: .4rem;
}

.unfixed.narrow #header-narrow,
.unfixed.wide #header-wide,
.unfixed #header-pin,
.fixed #header-unpin {
	display: inline-block;
}

.unfixed #controls-block .button {
	display: none;
}
.hover #controls-block .button {
	display: inline-block;
}
.unfixed .tabs #header-tabs,
.unfixed .bookmarks #header-bookmarks,
.unfixed .history #header-history,
.unfixed .downloads #header-downloads,
.unfixed .rss #header-rss,
.unfixed .pocket #header-pocket {
	display: inline-block;
}

.tabs #header-tabs::before,
.bookmarks #header-bookmarks::before,
.history #header-history::before,
.downloads #header-downloads::before,
.rss #header-rss::before,
.pocket #header-pocket::before,
.plain #tabs-plain::before,
.domain #tabs-domain::before,
.tree #tabs-tree::before,
.plain #rss-plain::before,
.domain #rss-domain::before,
#unfixed-button::before,
.pinned .pin::before {
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	height: 1.4rem;
	width: 1.4rem;
	box-shadow: 0 0 2px 2px var(--background-color-active);
	background-color: var(--background-color-active);
}

.block {
	display: none;
	width: 100%;
	height: auto;
	position: relative;
	color: var(--font-color);
}

.tabs #tabs,
.bookmarks #bookmarks,
.history #history,
.downloads #downloads,
.rss #rss,
.pocket #pocket {
	display: block;
}

ul {
	padding: 0;
	margin: 0;
}

.bottom-bar {
	display: none;
	flex-flow: row;
	height: auto;
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: var(--background-color);
	border-top-color: var(--border-color);
	border-top-width: .1rem;
	border-top-style: solid;
	padding: .4rem .2rem;
}
.hover .bottom-bar,
.fixed .bottom-bar {
	display: flex;
}
.bottom-bar>svg {
	position: absolute;
	left: .8rem;
	top: .6rem;
	width: 1.5rem;
	height: 1.5rem;
	margin: 0;
}

.item,
.folder-name,
.item-button {
	display: block;
	text-decoration: none;
	white-space: nowrap;
	font-size: .9rem;
	line-height: .9rem;
	font-family: Arial, Verdana, Helvetica, 'Sans Serif';
	overflow: hidden;
	height: auto;
	padding: .1rem .2rem .1rem 1.45rem;
	margin: .2rem;
	position: relative;
	background-repeat: no-repeat;
	background-size: .9rem .9rem;
	background-position-y: .1rem;
	user-select: none;
}

.leftBar .item {
	background-position-x: .2rem;
}
.rightBar .item {
	background-position-x: .1rem;
}
.leftBar.fixed .item,
.leftBar.hover .item {
	background-position-x: 0;
}

.item:hover,
.item-button:hover {
	background-color: var(--border-color);
	border-color: var(--border-color-active);
	color: var(--font-color-active);
	cursor: pointer;
}
.folder-name {
	display: none;
	border-style: solid;
	border-width: .05rem;
	border-color: var(--border-color-active);
	background-color: var(--border-color);
}
.folder-name:hover {
	border-color: var(--border-color);
	background-color: var(--border-color-active);
	cursor: default;
}
.normal-view .folder-name{
	background-image: none;
	padding-left: 1.4rem;
}
.item-button {
	user-select: none;
	--moz-user-select: none;
	font-weight: bold;
	cursor: pointer;
	padding: .3rem 0;
	border-bottom-width: .05rem;
	text-align: center;
}
.item-button>.button {
	width: .9rem;
	height: .9rem;
}

.controls {
	display: none;
	position: absolute;
	background-color: inherit;
	right: 0;
	top: 0.05rem;
	padding-left: .8rem;
	padding-right: .3rem;
}
.item:hover>.controls,
.folder-name:hover>.controls {
	display: block;
}
.controls>span {
	width: .9rem;
	height: .9rem;
	margin-left: .2rem;
	display: none;
}
.controls>span:first-child {
	margin-left: 0;
}
.domain-view .folder-name,
.type-view .folder-name,
#bookmarks .folder-name,
#history .folder-name,
#rss .folder-name {
	display: block;
}
.hover .folder.normal-view>.item,
.fixed .folder.normal-view>.item,
.hover .folder.type-view>.item,
.fixed .folder.type-view>.item {
	padding-left: 1.6rem;
	margin-left: .8rem;
	border-left: .1rem dotted var(--border-color-active);
	background-position: .4rem 0rem;
}
.hover .folder.domain-view .item,
.fixed .folder.domain-view .item {
	padding-left: .6rem;
	margin-left: .8rem;
	border-left: .1rem dotted var(--border-color-active);
	background-image: none;
}
.hover .tree>#tabs-0>.folder>.item,
.fixed .tree>#tabs-0>.folder>.item {
	border-left: none;
}
.hover .folder-content>.folder,
.fixed .folder-content>.folder {
	margin-left: .8rem;
	border-left: .1rem dotted var(--border-color-active);
}
.hover .tree>#tabs-0>.folder,
.fixed .tree>#tabs-0>.folder {
	border-left: none;
}
.folder.folded>.folder-content>.folder,
.folder.folded>.folder-content>.item,
.folder.folded>.folder-content>.item-button {
	display: none;
}
.folder-name {
	display: none;
	cursor: pointer;
	padding-left: 2.8rem;
	position: relative;
	background-position-x: 1.4rem;
}

.folder-name::before {
	content: '';
	display: inline-block;
	position: absolute;
	left: .3rem;
	top: .1rem;
	width: .8rem;
	height: .8rem;
	background-image: url(icons/folder-open.svg);
	background-size: 100% 100%;
}
.folder-name:hover::before {
	background-image: url(icons/folder-open-hover.svg);
}
.folded .folder-name::before {
	transform: rotate(-90deg);
}

.search-results {
	display: none;
}
.search-active .search-results {
	display: block;
}
.search-active #history-0,
.search-active #history-getMore,
.search-active #bookmarks-0,
.search-active #bookmarks-bookmarkThis {
	display: none;
}
.search {
	height: 1.6rem;
	width: 100%;
	text-indent: 2rem;
	background-color: var(--background-color-active);
	border-style: solid;
	border-color: var(--border-color);
	border-width: .05rem;
	margin-left: .2rem;
	color: var(--font-color-active);
}
.search::placeholder {
	color: var(--font-color-inactive);
}
.search-icon {
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	position: absolute;
	left: .6rem;
	top: .6rem;
	background-color: var(--font-color-inactive);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	-webkit-mask-position: center;
	-webkit-mask-mode: alpha;
	-webkit-mask-image: url(icons/search.svg);
	mask-repeat: no-repeat;
	mask-size: 100% 100%;
	mask-position: center;
	mask-mode: alpha;
	mask-image: url(icons/search.svg);
}

.search:focus+.search-icon {
	background-color: var(--font-color-active);
}

.item.moved {
	opacity: .5;
}
.moving .controls {
	display: none!important;
}
#tabs-folder-default {
	display: none;
}