.item #bookmarks-delete,
.item #bookmarks-move,
.folder-name #bookmarks-folderDelete,
.folder-name #bookmarks-openAll,
#bookmarks-move,
#bookmarks-edit {
	display: inline-block;
}
#root-folder>div>.folder>.folder-name>.controls {
	display: none;
}
.domain-bookmarks {
	background-image: url(icons/bookmarks.svg);
}
@media (min-width: 2.01rem) {
	.domain-bookmarks {
		background-image: none;
		padding-left: 0.4rem;
	}
}