.folder-name #search-move {
	display: inline-block;
}

.viewed {
	text-decoration: line-through;
}

.domain-duckduckgo {
	background-image: url("icons/duckduckgo.svg");
}
.domain-google {
	background-image: url("icons/google.svg");
}
.domain-yandex {
	background-image: url("icons/yandex.svg");
}
.domain-bing {
	background-image: url("icons/bing.svg");
}
.domain-yahoo {
	background-image: url("icons/yahoo.svg");
}
.domain-wikipedia {
	background-image: url("icons/wikipedia.svg");
}
.domain-loading {
	background-image: url("icons/loader.svg");
}
.domain-noResults {
	background-image: url("icons/close.svg");
}
.domain-networkError {
	background-image: url("icons/close.svg");
}

.search-folder {
	display: table-cell;
}
	.search-folder.wikipedia>a {
		background-image: none;
		padding-left: .1rem;
	}
	#search-folder-wikipedia>div>a {
		background-image: none;
		padding-left: .3rem;
	}