.domain .folder.domain-view {
	margin-bottom: .5rem;
}
.folder-name.active {
	font-weight: bold;
	font-size: 1rem;
	line-height: 1rem;
	background-size: 1rem 1rem;
	background-color: var(--background-color-active);
}
.item.active {
	font-weight: bold;
	font-size: 1rem;
	line-height: 1rem;
	padding-top: .2rem;
	padding-bottom: .2rem;
	background-color: var(--background-color-active);
	background-size: 1rem 1rem;
	background-position-y: .2rem;
}
.item.active:hover {
	background-color: var(--border-color-active);
}
.item.active>.controls {
	margin-top: .15rem;
}
.item.pinned {
	background-color: var(--background-color-active);
}

.plain .item #tabs-pin {
	display: inline-block;
}
.item.pinned #tabs-pin {
	display: none;
}

.item.tab-unreaded {
	font-style: italic;
}

.plain .item.pinned #tabs-unpin,
.plain .item #tabs-move,
.domain .item #tabs-move,
.domain .folder-name #tabs-move,
.tree #root-folder>div>.folder>.folder-content>a>.controls #tabs-move,
.item #tabs-fav,
.item #tabs-reload,
.item #tabs-duplicate,
.item #tabs-close,
.folder-name #tabs-closeAll {
	display: inline-block;
}

.domain-default {
	background-image: url(icons/default.svg);
}
.domain-startpage {
	background-image: url(icons/startpage.svg);
}
.domain-system {
	background-image: url(icons/wrench.svg);
}
.domain-extension {
	background-image: url(icons/default.svg);
}
.domain-windows {
	background-image: url(icons/window.svg);
}