#bookmarks-bookmarkThis>.button>span {
	-webkit-mask-image: url(icons/new.svg);
	mask-image: url(icons/new.svg);
}
#bookmarks>.bottom-bar>.button {
	-webkit-mask-image: url(icons/search.svg);
	mask-image: url(icons/search.svg);
}
.item #bookmarks-delete,
.item #bookmarks-move,
.folder-name #bookmarks-deleteFolder,
#bookmarks-edit {
	display: inline-block;
}
#bookmarks-0>.folder>.folder-name #bookmarks-edit {
	display: none;
}