:root {
	--font-color: #444;
	--font-color-active: #000;
	--font-color-inactive: #999;
	--border-color: #eee;
	--border-color-active: #ccc;
	--background-color : #fcfcfc;
	--background-color-active: #e3ecf1;
	--padding: 60px;
	--marginH: 30px;
	--marginV: 60px;
	--rows: 5;
	--columns: 3;
	--bigFont1: 120px;
	--bigFont2: 60px;
	--bigFont3: 40px;
	--bigFont4: 30px;
	--bigFont5: 25px;
	--bigFont6: 20px;
	--searchDisplay: 'block';
	background-color: var(--background-color);
	font-size: 10px;
}
body {
	background-size: cover;
	background-repeat: no-repeat;
	background-clip: border-box;
	padding: var(--padding);
	width: auto;
	height: 100vh;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 100%;
}
:focus {
	outline: none;
}

#site-container {
	display: grid;
	width: auto;
	grid-template-columns: repeat(var(--columns), 1fr);
	grid-template-rows:    repeat(var(--rows), 1fr);
	grid-gap:              var(--marginV) var(--marginH);
}

section {
	position: relative;
	overflow: hidden;
	font-family: 'DejaVu Sans';
	white-space: pre;
	user-select: none;
	moz-user-select: none;
	cursor: pointer;
}

.site {
	background-clip: content-box;
	color: var(--background-color);
}
.lines-1 {
	font-size: var(--bigFont1);
	line-height: var(--bigFont1);
}
.lines-2 {
	font-size: var(--bigFont2);
	line-height: var(--bigFont2);
}
.lines-3 {
	font-size: var(--bigFont3);
	line-height: var(--bigFont3);
}
.lines-4 {
	font-size: var(--bigFont4);
	line-height: var(--bigFont4);
}
.lines-5 {
	font-size: var(--bigFont5);
	line-height: var(--bigFont5);
}
.lines-6 {
	font-size: var(--bigFont6);
	line-height: var(--bigFont6);
}
.site:hover {
	color: var(--background-color-active);
}
.site.draggable {
	position: fixed;
	z-index: 99;
}
.add-new {
	color: transparent;
	text-align: center;
}
.add-new:hover,
.add-new.draggable {
	color: var(--font-color);
	text-shadow: 0 0 .1rem var(--background-color);
}

#edit-button {
	background-position: .5rem 1.9rem;
	background-origin: content-box;
	background-color: var(--background-color);
	opacity: .7;
	border-radius: 50%;
	padding: 0;
	display: none;
	width: 3.2rem;
	height: 3.2rem;
	z-index: 99;
	position: absolute;
	top: -1.8rem;
	right: -1.8rem;
}
.site:hover>#edit-button {
	display: block;
}

#placeholder {
	display: none;
}
#placeholder.active {
	display: inline-block;
}

#search {
	display: var(--searchDisplay);
	margin-bottom: var(--padding);
}
#search-container {
	position: relative;
	display: grid;
	grid-template-columns: auto 1.9rem;
	width: 50%;
	margin: 0 auto;
	border-width: .05rem;
	border-style: solid;
	border-color: var(--border-color);
	background-color: var(--background-color-active);
}
#lets-search {
	display: inline-block;
	cursor: pointer;
	height: 100%;
	width: 1.9rem;
	align-self: stretch;
}

#search-field {
	height: 1.6rem;
	width: auto;
	border: none;
	font-size: 1.2rem;
	line-height: 1.5rem;
	text-indent: .6rem;
	margin-left: 1.3rem;
	color: var(--font-color);
	background-color: var(--background-color-active);
}
#search-field::placeholder {
	color: var(--font-color-inactive);
}
#search-select {
	width: 1.9rem;
	height: 100%;
	display: flex;
	flex-flow: column;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	border-style: solid;
	border-color: transparent;
	border-width: 0;
	background-color: var(--background-color-active);
}
#search-select.show-selection {
	left: -.05rem;
	border-color: var(--border-color);
	background-color: var(--background-color);
	border-width: 0 .05rem .05rem .05rem;
	z-index: 999;
	width: auto;
	height: auto;
}
.show-selection .search-engine {
	display: block;
	width: auto;
	color: var(--font-color);
	padding-right: 1.3rem;
}
.show-selection hr {
	display: block;
}
.search-engine {
	width: 1.4rem;
	height: 1.3rem;
	display: none;
	background-repeat: no-repeat;
	background-size: 1.2rem 1.2rem;
	background-position: .2rem .05rem;
	cursor: pointer;
	color: transparent;
	text-indent: 1.8rem;
	font-size: 1.1rem;
	line-height: 1.4rem;
	user-select: none;
	margin: .2rem 0;
}
.show-selection .search-engine {
	background-size: 1.1rem 1.1rem;
	background-position: .25rem .15rem;
}
.show-selection .search-engine:hover {
	color: var(--font-color-active);
	background-size: 1.2rem 1.2rem;
	background-position: .2rem .05rem;
}
#duckduckgo {
	background-image: url("icons/duckduckgo.svg");
}
#google {
	background-image: url("icons/google.svg");
}
#yandex {
	background-image: url("icons/yandex.svg");
}
#bing {
	background-image: url("icons/bing.svg");
}
#yahoo {
	background-image: url("icons/yahoo.svg");
}
#wikipedia {
	background-image: url("icons/wikipedia.svg");
}
#mdn {
	background-image: url("icons/mdn.svg");
}
#stackoverflow {
	background-image: url("icons/stackoverflow.svg");
}
#amazon {
	background-image: url("icons/amazon.svg");
}
#ebay {
	background-image: url("icons/ebay.svg");
}
#aliexpress {
	background-image: url("icons/aliexpress.svg");
}
#googletranslate {
	background-image: url("icons/google-translate.svg");
}
#yandextranslate {
	background-image: url("icons/yandex-translate.svg");
}

.duckduckgo #duckduckgo,
.google #google,
.yandex #yandex,
.bing #bing,
.yahoo #yahoo,
.wikipedia #wikipedia,
.mdn #mdn,
.stackoverflow #stackoverflow,
.amazon #amazon,
.ebay #ebay,
.aliexpress #aliexpress,
.googletranslate #googletranslate,
.yandextranslate #yandextranslate {
	display: block;
}
hr {
	display: none;
	width: auto;
	box-sizing: border-box;
	margin: .5rem 1rem;
	border-color: var(--font-color);
}

#edit-button>span,
#lets-search>span {
	background-color: var(--font-color-inactive);
	display: inline-block;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	-webkit-mask-position: center;
	-webkit-mask-mode: alpha;
	mask-repeat: no-repeat;
	mask-size: 100% 100%;
	mask-position: center;
	mask-mode: alpha;
}
#edit-button:hover>span,
#lets-search:hover>span {
	background-color: var(--font-color);
}
#lets-search>span {
	width: 1.2rem;
	height: 1.2rem;
	margin-top: .27rem;
	margin-left: .32rem;
	-webkit-mask-image: url(icons/search.svg);
	mask-image: url(icons/search.svg);
}
#edit-button>span {
	position: absolute;
	bottom: .44rem;
	left: .44rem;
	width: .8rem;
	height: .8rem;
	-webkit-mask-image: url(icons/options.svg);
	mask-image: url(icons/options.svg);
}
