:root {
	--font-color: #444;
	--font-color-active: #000;
	--font-color-inactive: #999;
	--border-color: #eee;
	--border-color-active: #ccc;
	--background-color : #fcfcfc;
	--background-color-active: #e3ecf1;
	--padding: 60px;
	--marginH: 30px;
	--marginV: 60px;
	--rows: 5;
	--columns: 3;
	--search-columns: 5;
	--search-columns-width: 19;
	--bigFont1: 120px;
	--bigFont2: calc(var(--bigFont1) / 2);
	--bigFont3: calc(var(--bigFont1) / 3);
	--bigFont4: calc(var(--bigFont1) / 4);
	--bigFont5: calc(var(--bigFont1) / 5);
	--bigFont6: calc(var(--bigFont1) / 6);
	background-color: var(--background-color);
	font-size: 10px;
}
body {
	background-clip: border-box;
	padding: var(--padding);
	width: auto;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	box-sizing: border-box;
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 100%;
}
:focus {
	outline: none;
}

.hidden {
	display: none!important;
}

@keyframes spin {
	100% {
		transform:rotate(360deg);
	}
}
p {
	margin: 0;
}

main {
	display: none;
}
.search #search-container {
	display: table;
	table-layout: fixed;
	height: auto;
	margin-bottom: var(--marginV);
	width: 100%;
}
	#search-results {
		display: table-row;
		width: auto;
		overflow-y: scroll;
		overflow-x: hidden;
	}
		.search-folder {
			display: table-cell;
			margin: 0;
			padding: 0 .5rem;
		}
			.search-folder>a {
				display: block;
				text-decoration: none;
				white-space: nowrap;
				color: var(--font-color);
				font-size: .9rem;
				line-height: .9rem;
				overflow: hidden;
				height: auto;
				padding: .2rem .2rem .1rem 1.25rem;
				margin: .1rem;
				position: relative;
				background-repeat: no-repeat;
				background-size: .9rem .9rem;
				background-position-y: .1rem;
				user-select: none;
				border-color: transparent;
				border-width: .05rem 0 .05rem 0;
				border-style: solid;
			}
			.search-folder>a:hover {
				border-color: var(--border-color-active);
				color: var(--font-color-active);
				font-weight: bold;
				background-color: var(--background-color-active);
			}
	#search-container>nav {
		width: 100%;
		height: 3rem;
		display: table-row;
	}
		h2 {
			display: table-cell;
			text-align: center;
			padding: 1rem 0;
		}
			h2>a {
				white-space: nowrap;
				color: var(--font-color);
				text-decoration: none;
				position: relative;
				background-size: 1.2rem 1.2rem;
				background-position: 0 .07rem;
				background-repeat: no-repeat;
				padding-left: 1.5rem;
			}
			.loading h2>a::before {
				padding: 0!important;
				animation: spin 1.8s linear infinite;
				transform-origin: 50% 50%;
				content: '';
				position: absolute;
				right: -1.5rem;
				top: 0;
				margin-top: .06rem;
				width: 1.2rem;
				height: 1.2rem;
				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: 1.2rem 1.2rem;
				background-image: url('icons/loader.svg')!important;
			}
.sites #site-container {
	display: grid;
	width: auto;
	grid-template-columns: repeat(var(--columns), 1fr);
	grid-template-rows:    repeat(var(--rows), 1fr);
	grid-gap:              var(--marginV) var(--marginH);
}
	section {
		position: relative;
		overflow: hidden;
		font-family: 'DejaVu Sans';
		white-space: pre;
		user-select: none;
		moz-user-select: none;
		cursor: pointer;
	}
	.site {
		background-clip: content-box;
		color: var(--background-color);
	}
	.lines-1 {
		font-size: var(--bigFont1);
		line-height: var(--bigFont1);
	}
	.lines-2 {
		font-size: var(--bigFont2);
		line-height: var(--bigFont2);
	}
	.lines-3 {
		font-size: var(--bigFont3);
		line-height: var(--bigFont3);
	}
	.lines-4 {
		font-size: var(--bigFont4);
		line-height: var(--bigFont4);
	}
	.lines-5 {
		font-size: var(--bigFont5);
		line-height: var(--bigFont5);
	}
	.lines-6 {
		font-size: var(--bigFont6);
		line-height: var(--bigFont6);
	}
	.site:hover {
		color: var(--background-color-active);
	}
	.site.draggable {
		position: fixed;
		z-index: 99;
	}
	.add-new {
		color: transparent;
		text-align: center;
	}
	.add-new:hover,
	.add-new.draggable {
		color: var(--font-color);
		text-shadow: 0 0 .1rem var(--background-color);
	}
		section>a {
			display: block;
			height: 100%;
			width: 100%;
			text-decoration: none;
			color: inherit;
		}
		section>a:hover {
			color: inherit;
		}
		#edit-button {
			background-position: .5rem 1.9rem;
			background-origin: content-box;
			background-color: var(--background-color);
			opacity: .7;
			border-radius: 50%;
			padding: 0;
			display: none;
			width: 3.2rem;
			height: 3.2rem;
			z-index: 99;
			position: absolute;
			top: -1.8rem;
			right: -1.8rem;
		}
		.site:hover>#edit-button {
			display: block;
		}

	#placeholder {
		display: none;
	}
	#placeholder.active {
		display: inline-block;
	}

#search {
	display: none;
	position: relative;
	grid-template-columns: 1.9rem auto 1.9rem;
	width: 50%;
	margin: 0 auto;
	border-width: .05rem;
	border-style: solid;
	border-color: var(--border-color);
	background-color: var(--background-color-active);
}
.sites #search {
	margin-bottom: var(--padding);
}
	#lets-search,
	#search-options {
		display: inline-block;
		cursor: pointer;
		height: 100%;
		width: 1.9rem;
		align-self: stretch;
	}
	#search-field {
		height: 1.6rem;
		width: auto;
		min-width: 0;
		border: none;
		font-size: 1.2rem;
		line-height: 1.5rem;
		color: var(--font-color);
		background-color: var(--background-color-active);
	}
	#search-field::placeholder {
		color: var(--font-color-inactive);
	}

	#edit-button>span,
	#lets-search>span,
	#search-options>span {
		background-color: var(--font-color-inactive);
		display: inline-block;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: 100% 100%;
		-webkit-mask-position: center;
		-webkit-mask-mode: alpha;
		mask-repeat: no-repeat;
		mask-size: 100% 100%;
		mask-position: center;
		mask-mode: alpha;
	}
	#edit-button:hover>span,
	#search-options:hover>span,
	#lets-search:hover>span {
		background-color: var(--font-color);
	}
	#lets-search>span {
		width: 1.2rem;
		height: 1.2rem;
		margin-top: .2rem;
		margin-left: .32rem;
		-webkit-mask-image: url(icons/search.svg);
		mask-image: url(icons/search.svg);
	}
	#edit-button>span {
		position: absolute;
		bottom: .44rem;
		left: .44rem;
		width: .8rem;
		height: .8rem;
		-webkit-mask-image: url(icons/options.svg);
		mask-image: url(icons/options.svg);
	}
	#search-options>span {
		width: 1.2rem;
		height: 1.2rem;
		margin-top: .2rem;
		margin-left: .32rem;
	}
